In [ ]:
"""
接口: stock_a_indicator_lg

目标地址: https://www.legulegu.com/stocklist

描述: 乐咕乐股-股息率-A 股股息率

限量: 单次获取指定 symbol 的所有历史数据
名称    类型    描述
trade_date    object    交易日
pe    float64    市盈率
pe_ttm    float64    市盈率TTM
pb    float64    市净率
ps    float64    市销率
ps_ttm    float64    市销率TTM
dv_ratio    float64    股息率
dv_ttm    float64    股息率TTM
total_mv    float64    总市值
"""

In [1]:
import akshare as ak
df = ak.stock_a_indicator_lg(symbol="000001")
df.head()

C:\Users\yangsy-c\Anaconda3\lib\site-packages\akshare\__init__.py:2470: UserWarning: 为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本
  "为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本"

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv
0,2000-05-25,52.1297,52.1297,9.9771,16.7784,16.7784,4.6613,4.6613,2.894195e+06
1,2000-05-26,51.2073,51.2073,9.8006,16.4815,16.4815,4.7427,4.7427,2.842984e+06
2,2000-05-29,51.0675,51.0675,9.7738,16.4365,16.4365,4.7557,4.7557,2.835225e+06
3,2000-05-30,50.4526,50.4526,9.6561,16.2386,16.2386,4.8137,4.8137,2.801084e+06
4,2000-05-31,50.3129,50.3129,9.6294,16.1936,16.1936,4.8270,4.8270,2.793325e+06

In [3]:
import random
import time

import akshare as ak
import pandas as pd

import os

import sqlalchemy

In [4]:
def getValuationHis(code)->pd.DataFrame:
    """
    拿到历史估值数据
    :param code: 代码
    :return: 一个dataframe

    columns 已经标准化为英语了
    ["trade_date","pe","pe_ttm","pb","ps","ps_ttm","dv_ratio","dv_ttm","total_mv"]
    """
    df = ak.stock_a_indicator_lg(symbol=code)
    # columns 已经标准化为英语了 不用重置了
    # 增加一列
    df["code"] = [code for i in range(len(df))]

    return df

def connect_db(db):
    engine = sqlalchemy.create_engine('mysql+pymysql://root:sun123456@localhost:3306/{}?charset=utf8'.format(db))
    return engine

In [5]:
df = ak.stock_history_dividend()
df.columns = ["code", "name", "ipo_time", "sum_dividend", "avg_dividend", "dividend_times", "ipo_amount", "ipo_times"]

df = df[["code", "name", "ipo_time","ipo_amount", "ipo_times"]]
df.head()

     code  name    ipo_time  ipo_amount  ipo_times
0  000550  江铃汽车  1993-12-01      0.0000          0
1  000541  佛山照明  1993-11-23     10.8842          1
2  000429  粤高速A  1998-02-20     16.3350          1
3  000726   鲁泰A  2000-12-25      9.5082          1
4  000022  深赤湾A  1993-05-05      0.0000          0

In [7]:
codes = df['code']

In [10]:
temp = codes.to_list()
temp[:10]

['000550',
 '000541',
 '000429',
 '000726',
 '000022',
 '000581',
 '000539',
 '000488',
 '000761',
 '600066']

In [15]:
codes = temp[:20]

In [17]:
# 初始化一个空df
valuation_his = pd.DataFrame()

In [18]:
for code in codes:
    print("======> code is {0}".format(code))
    sleeptime = random.randint(1, 10)
    time.sleep(sleeptime / 1000)
    temp = getValuationHis(code)
    valuation_his = pd.concat([valuation_his, temp], axis=0)

======> code is 000550
======> code is 000541
======> code is 000429
======> code is 000726
======> code is 000022
======> code is 000581
======> code is 000539
======> code is 000488
======> code is 000761
======> code is 600066
======> code is 000002
======> code is 000012
======> code is 600177
======> code is 600019
======> code is 600377
======> code is 600028
======> code is 000651
======> code is 600507
======> code is 600282
======> code is 000895

In [19]:
valuation_his.head()

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv,code
0,2000-10-23,NaN,NaN,3.6540,2.3740,2.2820,0.0,NaN,579216.594,000550
1,2000-10-24,NaN,NaN,3.6268,2.3563,2.2650,0.0,NaN,574900.524,000550
2,2000-10-25,NaN,NaN,3.6268,2.3563,2.2650,0.0,NaN,574900.524,000550
3,2000-10-26,NaN,NaN,3.6540,2.3740,2.2820,0.0,NaN,579216.594,000550
4,2000-10-27,NaN,NaN,3.6704,2.3846,2.2922,0.0,NaN,581806.236,000550

In [22]:
valuation_his["code"].unique()

array(['000550', '000541', '000429', '000726', '000022', '000581',
       '000539', '000488', '000761', '600066', '000002', '000012',
       '600177', '600019', '600377', '600028', '000651', '600507',
       '600282', '000895'], dtype=object)

In [23]:
temp = valuation_his[valuation_his['code']=='600377']

In [25]:
temp.tail()

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv,code
5520,2024-02-19,16.4899,13.2012,1.8157,4.6328,3.9929,3.7736,3.7736,6.141014e+06,600377
5521,2024-02-20,17.0174,13.6236,1.8738,4.7810,4.1206,3.6566,3.6566,6.337486e+06,600377
5522,2024-02-21,16.5575,13.2554,1.8232,4.6518,4.0093,3.7582,3.7582,6.166203e+06,600377
5523,2024-02-22,16.5981,13.2879,1.8277,4.6632,4.0191,3.7490,3.7490,6.181316e+06,600377
5524,2024-02-23,16.5169,13.2229,1.8187,4.6404,3.9994,NaN,NaN,6.151090e+06,600377

In [43]:
a = "2024-02-19"
a[:4], a[5:7], a[8:]

('2024', '02', '19')

In [36]:
a = temp['trade_date'][len(temp)-1]

In [37]:
a

datetime.date(2024, 2, 23)

In [39]:
import datetime

In [40]:
a > datetime.date(2024,2,24)

False

In [41]:
year = 2024
month = 2
date = 24
pdate = datetime.date(year, month, date)

In [42]:
a > pdate

False

In [29]:
temp.columns.to_list()

['trade_date',
 'pe',
 'pe_ttm',
 'pb',
 'ps',
 'ps_ttm',
 'dv_ratio',
 'dv_ttm',
 'total_mv',
 'code']

In [44]:
temp[temp['trade_date']<pdate]

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv,code
0,2001-01-16,61.7987,61.7987,2.9304,32.8361,32.8361,NaN,NaN,3.738009e+06,600377
1,2001-01-17,63.6310,63.6310,3.0172,33.8096,33.8096,NaN,NaN,3.848839e+06,600377
2,2001-01-18,64.4639,64.4639,3.0567,34.2522,34.2522,NaN,NaN,3.899217e+06,600377
3,2001-01-19,65.6299,65.6299,3.1120,34.8717,34.8717,NaN,NaN,3.969745e+06,600377
4,2001-02-05,63.1313,63.1313,2.9935,33.5441,33.5441,NaN,NaN,3.818613e+06,600377
...,...,...,...,...,...,...,...,...,...,...
5520,2024-02-19,16.4899,13.2012,1.8157,4.6328,3.9929,3.7736,3.7736,6.141014e+06,600377
5521,2024-02-20,17.0174,13.6236,1.8738,4.7810,4.1206,3.6566,3.6566,6.337486e+06,600377
5522,2024-02-21,16.5575,13.2554,1.8232,4.6518,4.0093,3.7582,3.7582,6.166203e+06,600377
5523,2024-02-22,16.5981,13.2879,1.8277,4.6632,4.0191,3.7490,3.7490,6.181316e+06,600377
5524,2024-02-23,16.5169,13.2229,1.8187,4.6404,3.9994,NaN,NaN,6.151090e+06,600377

In [49]:
df = ak.stock_sh_a_spot_em()
print(df)

        序号      代码     名称    最新价    涨跌幅   涨跌额       成交量          成交额     振幅  \
0        1  688661   和林微纳  39.38  19.99  6.56   60491.0  221134343.0  13.10
1        2  688248   南网科技  26.44  17.09  3.86  104279.0  258692771.0  19.49
2        3  688160   步科股份  46.60  16.76  6.69   50218.0  217992685.0  16.29
3        4  688260   昀冢科技  19.04  13.06  2.20   97419.0  166068172.0  25.00
4        5  688071   华依科技  32.59  13.04  3.76   39490.0  121524069.0  15.85
...    ...     ...    ...    ...    ...   ...       ...          ...    ...
2368  2369  600129   太极集团  39.66  -3.53 -1.45  213178.0  845332881.0   3.79
2369  2370  688677   海泰新光  51.62  -3.60 -1.93   19934.0  102421116.0   6.22
2370  2371  600985   淮北矿业  19.59  -3.92 -0.80  310294.0  612690574.0   4.32
2371  2372  600306  *ST商城   8.86  -5.04 -0.47   28446.0   25315931.0   4.18
2372  2373  603958   哈森股份  16.48  -5.67 -0.99  404984.0  686668263.0   7.84

         最高  ...    量比    换手率   市盈率-动态   市净率           总市值          流通市值  \
0     39.38  ...  2.79  16.93  -183.19  2.89  3.539256e+09  1.407175e+09
1     26.90  ...  2.53   4.57    53.08  5.34  1.493067e+10  6.038896e+09
2     46.60  ...  1.54   5.98    67.52  5.35  3.914400e+09  3.914400e+09
3     20.21  ...  1.01  14.30   -26.56  5.79  2.284800e+09  1.296934e+09
4     33.37  ...  1.02   7.37   335.18  2.59  2.763297e+09  1.747095e+09
...     ...  ...   ...    ...      ...   ...           ...           ...
2368  40.66  ...  1.10   3.83    21.85  5.79  2.208629e+10  2.208629e+10
2369  53.55  ...  1.32   2.65    39.84  4.92  6.278922e+09  3.881792e+09
2370  20.35  ...  0.95   1.25     7.21  1.33  4.860355e+10  4.860355e+10
2371   9.25  ...  0.86   0.76    -7.88  4.23  3.795744e+09  3.316397e+09
2372  17.71  ...  0.84  18.46 -5610.11  4.49  3.643728e+09  3.615053e+09

        涨速  5分钟涨跌  60日涨跌幅  年初至今涨跌幅
0     0.00   0.00  -23.15   -14.05
1     0.08   0.15   -3.92     5.89
2     0.98   2.33  -28.48   -19.90
3     0.11  -0.83  -42.30   -37.16
4    -0.43  -0.12  -31.14   -33.09
...    ...    ...     ...      ...
2368  0.03   0.05  -10.53   -14.64
2369  0.27   0.51  -10.23    -3.02
2370  0.15   0.26   33.36    17.80
2371  0.00   0.00   17.20   -10.51
2372  0.12   0.67   73.29    81.70

[2373 rows x 23 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2373 entries, 0 to 2372
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序号       2373 non-null   int64
 1   代码       2373 non-null   object
 2   名称       2373 non-null   object
 3   最新价      2264 non-null   float64
 4   涨跌幅      2264 non-null   float64
 5   涨跌额      2264 non-null   float64
 6   成交量      2264 non-null   float64
 7   成交额      2264 non-null   float64
 8   振幅       2264 non-null   float64
 9   最高       2264 non-null   float64
 10  最低       2264 non-null   float64
 11  今开       2264 non-null   float64
 12  昨收       2371 non-null   float64
 13  量比       2264 non-null   float64
 14  换手率      2373 non-null   float64
 15  市盈率-动态   2266 non-null   float64
 16  市净率      2266 non-null   float64
 17  总市值      2266 non-null   float64
 18  流通市值     2265 non-null   float64
 19  涨速       2264 non-null   float64
 20  5分钟涨跌    2264 non-null   float64
 21  60日涨跌幅   2371 non-null   float64
 22  年初至今涨跌幅  2371 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 426.5+ KB

In [53]:
df.columns

Index(['序号', '代码', '名称', '最新价', '涨跌幅', '涨跌额', '成交量', '成交额', '振幅', '最高', '最低',
       '今开', '昨收', '量比', '换手率', '市盈率-动态', '市净率', '总市值', '流通市值', '涨速', '5分钟涨跌',
       '60日涨跌幅', '年初至今涨跌幅'],
      dtype='object')

In [55]:
df[df["代码"]=='600129']

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,...,量比,换手率,市盈率-动态,市净率,总市值,流通市值,涨速,5分钟涨跌,60日涨跌幅,年初至今涨跌幅
2368,2369,600129,太极集团,39.66,-3.53,-1.45,213178.0,845332881.0,3.79,40.66,...,1.1,3.83,21.85,5.79,2.208629e+10,2.208629e+10,0.03,0.05,-10.53,-14.64

In [52]:
temp

Empty DataFrame
Columns: [序号, 代码, 名称, 最新价, 涨跌幅, 涨跌额, 成交量, 成交额, 振幅, 最高, 最低, 今开, 昨收, 量比, 换手率, 市盈率-动态, 市净率, 总市值, 流通市值, 涨速, 5分钟涨跌, 60日涨跌幅, 年初至今涨跌幅]
Index: []

[0 rows x 23 columns]

In [64]:
df = ak.stock_zyjs_ths(symbol="300123")
a = df['经营范围'][0]
a

'许可项目：船舶制造;船舶改装;船舶拆除;船舶设计;船舶修理;航天设备制造;民用航空器零部件设计和生产;建筑智能化系统设计;建设工程设计;特种设备制造;特种设备设计;特种设备安装改造修理。(依法须经批准的项目,经相关部门批准后方可开展经营活动,具体经营项目以相关部门批准文件或许可证件为准)一般项目：船舶销售;船用配套设备制造;合成材料销售;高性能纤维及复合材料销售;新材料技术研发;国内船舶代理;货物进出口;技术进出口;进出口代理;工业设计服务;专业设计服务;工程技术服务(规划管理、勘察、设计、监理除外);技术服务、技术开发、技术咨询、技术交流、技术转让、技术推广;日用百货销售;日用品销售;日用品批发;五金产品零售;五金产品批发;电子产品销售;电子元器件制造;电子元器件零售;电子元器件批发;电子专用材料制造;电子专用设备制造;电子专用设备销售;其他电子器件制造;集成电路芯片及产品制造;集成电路芯片及产品销售;集成电路芯片设计及服务;集成电路销售;集成电路设计;通信设备制造;通用零部件制造;机械电气设备制造;机械电气设备销售;机械零件、零部件加工;机械零件、零部件销售;专用设备制造(不含许可类专业设备制造);通用设备制造(不含特种设备制造);半导体器件专用设备制造;半导体器件专用设备销售;半导体分立器件制造;半导体分立器件销售;通讯设备销售;智能车载设备制造;智能基础制造装备制造;智能基础制造装备销售;智能无人飞行器制造;智能无人飞行器销售;智能车载设备销售;智能控制系统集成;人工智能硬件销售;人工智能行业应用系统集成服务;雷达及配套设备制造;光通信设备制造;通用设备修理;专用设备修理;信息安全设备制造;信息系统集成服务;信息系统运行维护服务;安全技术防范系统设计施工服务;非居住房地产租赁;土地使用权租赁;船舶租赁;游艇租赁;机械设备租赁;租赁服务(不含许可类租赁服务)。(除依法须经批准的项目外,凭营业执照依法自主开展经营活动)'

In [65]:
df.columns

Index(['股票代码', '主营业务', '产品类型', '产品名称', '经营范围'], dtype='object')

In [66]:
df.head()

,股票代码,主营业务,产品类型,产品名称,经营范围
0,300123,高性能微波电子、航海装备及其产品的研发设计与制造。,军工电子、智能船艇,微波混合集成电路、小型标准化微封装器件、微波单片集成电路、半导体分立器件、基片与壳体、防务装...,许可项目：船舶制造;船舶改装;船舶拆除;船舶设计;船舶修理;航天设备制造;民用航空器零部件设...

In [67]:
shenzhen_df = ak.stock_info_sz_name_code(symbol="A股列表")

In [68]:
shenzhen_df.head()

   板块    A股代码   A股简称      A股上市日期           A股总股本          A股流通股本    所属行业
0  主板  000001   平安银行  1991-04-03  19,405,918,198  19,405,513,424   J 金融业
1  主板  000002  万  科Ａ  1991-01-29   9,724,196,533   9,716,935,865   K 房地产
2  主板  000004   国华网安  1990-12-01     132,380,282     126,288,093  I 信息技术
3  主板  000005   ST星源  1990-12-10   1,058,536,842   1,057,875,742  N 公共环保
4  主板  000006   深振业Ａ  1992-04-27   1,349,995,046   1,349,987,396   K 房地产

In [69]:

shenzhen_df.columns = ["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry"]

In [70]:
temp = shenzhen_df['ipo_time'][0]
type(temp)

str

In [73]:
df = ak.stock_zygc_em(symbol="SH600519")
df.head()

,股票代码,报告日期,分类类型,主营构成,主营收入,收入比例,主营成本,成本比例,主营利润,利润比例,毛利率
0,600519,2023-06-30,按产品分类,茅台酒,5.927860e+10,0.851998,NaN,NaN,NaN,NaN,NaN
1,600519,2023-06-30,按产品分类,系列酒,1.007387e+10,0.144789,NaN,NaN,NaN,NaN,NaN
2,600519,2023-06-30,按产品分类,其他(补充),2.235492e+08,0.003213,1.219547e+08,1.0,101594425.2,1.0,0.454461
3,600519,2023-06-30,按地区分类,国内,6.731070e+10,0.967441,NaN,NaN,NaN,NaN,NaN
4,600519,2023-06-30,按地区分类,国外,2.041773e+09,0.029346,NaN,NaN,NaN,NaN,NaN

In [78]:
df = ak.stock_analyst_rank_em(year='2023')
df.head()

,序号,分析师名称,分析师单位,年度指数,2023年收益率,3个月收益率,6个月收益率,12个月收益率,成分股个数,2023最新个股评级-股票名称,2023最新个股评级-股票代码,分析师ID,行业代码,行业,更新日期,年度
0,1,邵艺开,国金证券,2647.45,102.33,0.00,0.00,102.33,0,仕佳光子,688313,11000345131,640000,机械设备,2023-12-29,2023
1,2,陈俊云,中信证券,2970.17,95.76,14.01,1.77,95.76,2,格灵深瞳,688207,11000258351,710000,计算机,2023-12-29,2023
2,3,刘言,西南证券,1113.41,91.21,38.74,26.85,91.21,24,科强股份,873665,11000197244,720000,传媒,2023-12-29,2023
3,4,刘建伟,申万宏源,1264.51,90.44,33.38,38.36,90.44,4,海能技术,430476,11000238847,630000,电力设备,2023-12-29,2023
4,5,温肇东,国投证券,1744.17,75.17,75.17,75.17,75.17,1,天罡股份,832651,11000329132,650000,国防军工,2023-12-29,2023

In [79]:
df.columns

Index(['序号', '分析师名称', '分析师单位', '年度指数', '2023年收益率', '3个月收益率', '6个月收益率',
       '12个月收益率', '成分股个数', '2023最新个股评级-股票名称', '2023最新个股评级-股票代码', '分析师ID',
       '行业代码', '行业', '更新日期', '年度'],
      dtype='object')

In [81]:
a = list(df['2023最新个股评级-股票名称'])
from collections import Counter

In [83]:
cnt = Counter(a)

In [85]:
for k, v in cnt.items():
    print(k, v)

仕佳光子 1
格灵深瞳 1
科强股份 1
海能技术 1
天罡股份 1
中国移动 1
立讯精密 2
恒为科技 1
球冠电缆 1
康普化学 2
安徽合力 1
金山办公 2
海光信息 1
易点天下 1
城市传媒 1
三维通信 1
步科股份 1
华工科技 1
天娱数科 1
源杰科技 1
芒果超媒 1
美格智能 1
兴森科技 1
炬光科技 1
三生国健 1
康辰药业 1
光线传媒 1
皖新传媒 1
中国船舶 1
四川双马 1
国联证券 1
天孚通信 1
西部矿业 1
易实精密 1
工业富联 1
银泰黄金 1
国金证券 1
吉视传媒 1
三七互娱 1
三旺通信 1
南网科技 1
中微公司 1
指南针 1
浪潮信息 1
盛天网络 1
亚太股份 1
浙文互联 1
昌红科技 1
宝信软件 1
深南电路 1
万兴科技 1
万泽股份 1
德科立 1
中国电信 1
完美世界 1
同花顺 1
圣晖集成 1
长久物流 1
上海洗霸 1
科达自控 1
海澜之家 1
昆工科技 1
上海电影 1
东方财富 1
陕西煤业 2
锐捷网络 1
杰普特 1
新奥股份 1
三人行 1
皖通高速 1
百利天恒 1
亿田智能 1
华测导航 1
淮北矿业 1
老凤祥 1
财富趋势 1
佛山照明 1
电广传媒 1
航天工程 1
中油资本 1
统联精密 1
雅克科技 1
铂科新材 1
鼎龙股份 1
天下秀 1
九强生物 1
盛路通信 1
紫光股份 1
移为通信 1
广和通 1
蓝晓科技 1
景旺电子 1
中汽股份 1
星环科技 1
华明装备 1
保隆科技 1

In [86]:
df = ak.stock_comment_em()
df.head()

,序号,代码,名称,最新价,涨跌幅,换手率,市盈率,主力成本,机构参与度,综合得分,上升,目前排名,关注指数,交易日
0,1,000001,平安银行,10.85,-0.46,1.84,3.98,10.980627,0.591266,77.656804,16,52,95.6,2024-02-23
1,2,000002,万 科Ａ,10.20,0.49,0.97,6.70,10.177964,0.472432,67.277116,-309,1463,87.6,2024-02-23
2,3,000004,国华网安,11.93,5.86,6.24,-33.65,11.678583,0.145036,53.769670,811,4927,72.8,2024-02-23
3,4,000005,ST星源,0.80,5.26,3.03,-75.85,0.780699,0.443998,54.985621,-294,4803,76.8,2024-02-23
4,5,000006,深振业Ａ,4.07,0.99,1.68,-3362.00,4.028924,0.294124,57.527506,155,4386,71.6,2024-02-23

In [87]:
df.tail()

,序号,代码,名称,最新价,涨跌幅,换手率,市盈率,主力成本,机构参与度,综合得分,上升,目前排名,关注指数,交易日
5071,5072,688799,华纳药厂,41.42,3.47,1.97,18.41,40.731074,0.407917,68.767915,-2059,1078,61.6,2024-02-23
5072,5073,688800,瑞可达,28.59,3.21,1.73,31.86,28.208074,0.157310,64.298384,-647,2348,63.2,2024-02-23
5073,5074,688819,天能股份,28.07,0.07,0.21,11.96,27.971890,0.105548,68.879875,-1183,1056,71.6,2024-02-23
5074,5075,688981,中芯国际,44.98,-0.35,1.16,74.11,44.944466,0.432280,64.443435,438,2305,84.4,2024-02-23
5075,5076,689009,九号公司-WD,29.98,6.05,1.94,42.90,29.047570,0.339912,69.963698,-660,809,70.8,2024-02-23

In [91]:
df = ak.stock_yjbb_em(date="20220331")
df.head()

,序号,股票代码,股票简称,每股收益,营业收入-营业收入,营业收入-同比增长,营业收入-季度环比增长,净利润-净利润,净利润-同比增长,净利润-季度环比增长,每股净资产,净资产收益率,每股经营现金流量,销售毛利率,所处行业,最新公告日期
0,1,300091,金通灵,-0.0184,3.782034e+08,-20.690975,51.4260,-27337678.39,-91.95,101.9138,2.198948,-0.96,-0.116823,10.966582,通用设备,2024-02-08
1,2,002570,贝因美,0.0200,6.363226e+08,12.254209,-7.4293,20126374.67,38.45,-41.7718,1.668873,1.12,0.048976,49.107011,食品饮料,2024-01-31
2,3,600771,广誉远,0.0200,2.378493e+08,25.164671,-52.2720,7757820.03,50.06,-85.6522,4.284026,0.37,0.123205,67.137316,中药,2024-01-30
3,4,688260,昀冢科技,NaN,1.194189e+08,-11.782673,-29.5994,5782931.82,-33.40,-75.8199,4.378971,1.11,0.035114,26.896853,消费电子,2024-01-18
4,5,300995,奇德新材,0.0861,7.029309e+07,2.487995,-25.4479,7247840.70,-19.15,383.6838,7.719790,1.12,0.135180,20.521519,塑料制品,2024-01-18

In [95]:
df = ak.stock_share_change_cninfo(symbol="002594", start_date="20091227", end_date="20220713")
df.head()

,证券简称,机构名称,境外法人持股,证券投资基金持股,国家持股-受限,国有法人持股,配售法人股,发起人股份,未流通股份,其中：境外自然人持股,...,总股本,其中：限售高管股,转配股,境内上市外资股-B股,其中：境外法人持股,募集法人股,已流通股份,其中：境内自然人持股,其他内资持股-受限,变动原因编码
0,比亚迪,比亚迪股份有限公司,<NA>,0.0,0.0,<NA>,1500.0,0.0,0.0,0.0,...,235410.0,<NA>,<NA>,0.0,1742.604,<NA>,85710.000,129518.250,146457.396,"015001,015019"
1,比亚迪,比亚迪股份有限公司,<NA>,0.0,0.0,<NA>,0.0,0.0,0.0,0.0,...,235410.0,<NA>,<NA>,0.0,1742.604,<NA>,87210.000,129518.250,146457.396,015009
2,比亚迪,比亚迪股份有限公司,<NA>,0.0,0.0,<NA>,0.0,<NA>,0.0,0.0,...,235410.0,<NA>,<NA>,0.0,1742.604,<NA>,87210.000,129518.250,146457.396,015019
3,比亚迪,比亚迪股份有限公司,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,235410.0,<NA>,<NA>,<NA>,<NA>,<NA>,114884.595,103909.715,120525.405,015019
4,比亚迪,比亚迪股份有限公司,<NA>,0.0,0.0,<NA>,0.0,0.0,0.0,0.0,...,235410.0,<NA>,<NA>,0.0,1742.604,<NA>,134930.020,82121.686,98737.376,015027

In [96]:
df = ak.stock_profile_cninfo(symbol="600030")
df.head()

,公司名称,英文名称,曾用简称,A股代码,A股简称,B股代码,B股简称,H股代码,H股简称,入选指数,...,官方网站,电子邮箱,联系电话,传真,注册地址,办公地址,邮政编码,主营业务,经营范围,机构简介
0,中信证券股份有限公司,CITIC Securities Company Limited,None,600030,中信证券,None,None,06030,中信证券,None,...,www.citics.com,ir@citics.com,0755-23835888,0755-23835861,广东省深圳市福田区中心三路8号卓越时代广场(二期)北座,北京市朝阳区亮马桥路48号中信证券大厦；广东省深圳市福田区中心三路8号中信证券大厦,100026,主要从事证券承销和上市推荐证券自营买卖资产管理和证券代理买卖等业务。,证券经纪（限山东省、河南省、浙江省天台县、浙江省苍南县以外区域）；证券投资咨询；与证券交易、...,公司的前身中信证券有限责任公司是经中国人民银行银复[1995]313号文批准，由中信公司，中...